JWT_SECRET_KEY=
JWT_PUBLIC_KEY=
ALGORITHM=

POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_NAME=
POSTGRES_PORT=

REDIS_HOST=
REDIS_USER=
REDIS_PORT=
REDIS_PASSWORD=

RBROKER_HOST=
RBROKER_USER=
RBROKER_PORT=
RBROKER_PASSWORD=